<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<div class="footer">
    <ul class="list-unstyled">
        <li>Copyright 2016 Sean.Zhao</li>
        <li><a href="https://github.com/ariestse9/noderepo">View source on GitHub</a></li>
    </ul>
</div>
</body>
</html>