<% include views/header.ejs %>
<form action="store" method="post">
    <div class="col-md-8">
        <p class="lead">How to use Node Repo:</p>
        <p>Post URL: https://noderepo.herokuapp.com/create</p>
        <p>Method: Post</p>
        <p>Simple:</br>
            <pre>
        <code>
    {
        "name":"Sean",
        "firstName": "Sean",
        "lastName": "Zhao",
        "email": "ariestse9@gmail.com"
    }</code></pre>
        </p>
    </div>
</form>

