<% include views/header.ejs %>
<div>
    <p class="lead">How to use Node Repo:</p>
    <div class="col-md-8">
        <p>URL: https://noderepo.herokuapp.com/create</p>
        <p>Method: Post</p>
        <p>Example:</br>
                <pre>
            <code>
                {
                "name":"Sean",
                "firstName": "Sean",
                "lastName": "Zhao",
                "email": "ariestse9@gmail.com"
                }</code></pre>
        </p>
    </div>
    <div class="col-md-8">
        <p>URL: https://noderepo.herokuapp.com/list</p>
        <p>Method: Get</p>
    </div>
</div>

