body {
  width:1105px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  /*padding: 50px;*/
  font: 12px "Lucida Grande", 宋体, Helvetica, Arial, sans-serif;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.web-title {
  font-family: 华文隶书;
  font-size: xx-large;
  font-weight: bold;
  color: #000;
  padding-top: 20px;
}